<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.inacap.nuevohorizonte">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nuevo Horizonte"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>

        <activity android:name=".ActivityUsuario" />
        <activity android:name=".activityBuscarRecepcion" />
        <activity
            android:name=".Activity_ingresarProveedor"
            android:label="@string/title_activity_ingresar_proveedor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>